.profile-info {
  margin: 10px 10px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

table {
  margin: 10px 0;
  width: 100%;
}

mat-drawer {
  max-width: 1000px;
}

.unfold-more {
  transform: rotateZ(90deg);
}
