<div fxLayout="row">
  <div fxFlex="3"></div>
  <div fxLayout="column">
    <div fxLayout="column" [formGroup]="formGroup">
      <mat-form-field class="form-size">
        <input type="text" placeholder="Id prefix" aria-label="Id prefix" matInput formControlName="idPrefixForm" required="true">
      </mat-form-field>
      <mat-form-field class="form-size">
        <input type="integer" placeholder="Antall" aria-label="antall" matInput formControlName="idRangeForm" required="true">
      </mat-form-field>
      <mat-form-field class="form-size">
        <input type="integer" placeholder=Sammlingstittel aria-label="sammlingsittel" matInput formControlName="collectionTitleForm" required="true">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Kontrakttype</mat-label>
        <mat-select formControlName="contractTypeForm" required="true">
          <mat-option *ngFor="let contractType of allContractType" [value]="contractType">
            {{contractType}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div fxLayout="row">
        <button mat-raised-button class="mat-accent">Avbryt</button>
        <button mat-raised-button class="mat-accent" (click)="generateDelivery()">Generer leveranse</button>
      </div>
    </div>
  </div>
  <div fxFlex="3"></div>
</div>
