<div>
  <mat-progress-bar *ngIf="isLoadingResults" mode="query"></mat-progress-bar>
  <mat-progress-bar *ngIf="!isLoadingResults" value="100"></mat-progress-bar>
  <div class="table-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <!-- TODO: this field access violates typescript standards -->
      <ng-container *ngFor="let element of displayColumns" matColumnDef="row">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>el</mat-header-cell>
        <mat-cell *matCellDef="let elementCell">
          <span class="mobile-label">Srekkode:</span>
          {{elementCell.nbId}}
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row >
      <!-- TODO: directive here for ngClass -->
      <mat-row [className]="isLoadingResults ? 'table-element-loading' : 'table-element-idle'"
               *matRowDef="let row; columns: displayColumns" (click)="onElementSelected.emit(row)"></mat-row>
    </mat-table>
  </div>
</div>
