.table-element:hover {
  background: #777;
}

mat-form-field {
  width: 100%;
}

.fill-Width {
  width: 100%
}


.selection-section {
  display: flex;
  align-content: center;
  align-items: center;
}

mat-checkbox {
  margin: 0 10px;
}
