<div mat-dialog-content fxLayout="column">
  <mat-form-field floatLabel="auto" fxFlex="grow">
    <mat-label>Create an alias for entity</mat-label>
    <label>
      <input matInput [(ngModel)]="data.alias">
    </label>
  </mat-form-field>
  <mat-divider></mat-divider>
  <div *ngIf="canHaveChildren" fxLayout="column">
    <div *ngFor="let child of data.importBarcodes">
      <mat-form-field floatLabel="auto" fxFlex="grow">
        <mat-label>Imported storage entity</mat-label>
        <label>
          <input matInput [(ngModel)]="child" disabled>
        </label>
      </mat-form-field>
    </div>
    <mat-form-field floatLabel="always" fxFlex="grow">
      <mat-label>Import storage entity by barcode</mat-label>
      <label>
        <input (ngModelChange)="onImportTargetChange()" matInput #inputImport [(ngModel)]="importTargetBarcode">
      </label>
    </mat-form-field>
    <button mat-button class="mat-primary" (click)="registerImport()">Import</button>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button class="mat-accent" (click)="onCancelClick()">Cancel</button>
  <button mat-button class="mat-accent" (click)="onSubmitClick()">Submit</button>
  <button mat-button class="mat-accent" (click)="onDeleteClick()">Delete</button>
</div>
