<mat-drawer-container *ngIf="!failedToLoad" #drawerContainer>
  <mat-drawer #drawer mode="side" opened>
    <!-- TODO: toggle sidenav button in sidenav too -->
    <h4 class="category-header">Drag drop delete</h4>
    <!-- TODO: set move event to null in another more robust one-time way"-->
    <app-storage-entity-draggable class="action-segment"
                                  [storageNode]="DELETE_NODE"
                                  [allPossibleEntityRelations]="getSimplifiedTree"
                                  [dropBehaviourData]="DROP_DELETE_DATA"
                                  [overwriteNodeColor]="'rgb(243, 115, 111, opacity)'"
                                  [depth]="0"
                                  (entityMove)="onDragMove(null)"
                                  (entityDrop)="onDragDrop($event)"
                                  (entityImport)="onImportNodeRequest($event)">
    </app-storage-entity-draggable>

    <mat-divider></mat-divider>
    <h4 class="category-header">Event list</h4>
    <app-event-list [eventList]="getEventList"
                    [undoComplete]="onUndoComplete.asObservable()"
                    (undoEvent)="onUndoEvent($event)">
    </app-event-list>
  </mat-drawer>

  <div class="sidenav-content">
    <button class="mat-primary" mat-button
            (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>
  <div>
    <app-storage-entity-draggable
      [storageNode]="storageRoot"
      [allPossibleEntityRelations]="getSimplifiedTree"
      [dropBehaviourData]="DROP_MOVE_DATA"
      [depth]="0"
      (entityDrop)="onDragDrop($event)"
      (entityMove)="onDragMove($event)"
      (entityProgmatDelete)="onProgmatDelete($event)"
      (entityImport)="onImportNodeRequest($event)">
    </app-storage-entity-draggable>
  </div>
</mat-drawer-container>
