mat-form-field {
  width: 100%;
}

mat-checkbox {
  margin: 0 10px;
}

mat-progress-bar {
  height: 5px;
}

table {
  margin: 10px 0;
  max-height: calc(100vh - 64px);
  width: 100%;
  overflow: auto;
}

.table-container {
  max-height: calc(100vh - 250px);
  overflow: scroll;
}

.fill-Width {
  width: 100%
}

.selection-section {
  display: flex;
  align-content: center;
  align-items: center;
}

.mobile-label {
  display: none;
}

@media(max-width: 600px) {
  .mobile-label {
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
    height: 96px;
  }

  mat-cell {
    padding-left: 24px;
  }
}
