<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrer tabell elementer">
</mat-form-field>

<section class="selection-section" fxHide fxShow.gt-xs>
  <mat-checkbox checked="true" value="nbId:0"             >NB id</mat-checkbox>
  <mat-checkbox                value="organisationId:1"   >Organisasjonsid</mat-checkbox>
  <mat-checkbox checked="true" value="externalId:2"       >Deres id</mat-checkbox>
  <mat-checkbox checked="true" value="materialType:3"     >Materialtype</mat-checkbox>
  <mat-checkbox checked="true" value="materialCondition:4">Tilstand</mat-checkbox>
  <mat-checkbox checked="true" value="contractType:5"     >Kontraktvariant</mat-checkbox>
  <mat-checkbox checked="true" value="collectionTitle:6"  >Sammlingstittel</mat-checkbox>
  <mat-checkbox                value="notice:7"           >Avvik</mat-checkbox>
  <mat-checkbox checked="true" value="containerId:8"      >Beholderid</mat-checkbox>
</section>


<div>
  <mat-progress-bar *ngIf="isLoadingResults" mode="query"></mat-progress-bar>
  <mat-progress-bar *ngIf="!isLoadingResults" value="100"></mat-progress-bar>
  <div class="table-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <!-- TODO: this could be created with *ngFor, it might result in too much logic for html -->
      <ng-container matColumnDef="nbId">
        <mat-header-cell *matHeaderCellDef  mat-sort-header> Strekkode objekt</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Srekkode:</span>
          {{element.nbId}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="organisationId">
        <mat-header-cell *matHeaderCellDef  mat-sort-header> Organisasjonsid </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Organisasjonsid:</span>
          {{element.organisationId}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="externalId">
        <mat-header-cell *matHeaderCellDef  mat-sort-header> Avleverers referanse </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Avleverers referanse:</span>
          {{element.externalId}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="materialType">
        <mat-header-cell *matHeaderCellDef  mat-sort-header> Materialtype </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Materialtype:</span>
          {{element.materialType}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="materialCondition">
        <mat-header-cell *matHeaderCellDef  mat-sort-header> Tilstand </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Tilstand:</span>
          {{element.materialCondition}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="contractType">
        <mat-header-cell *matHeaderCellDef  mat-sort-header> Kontraktvariant </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Kontraktvariant:</span>
          {{element.contractType}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="collectionTitle">
        <mat-header-cell *matHeaderCellDef  mat-sort-header> Sammlingstittel </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Sammlingstittel:</span>
          {{element.collectionTitle}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="notice">
        <mat-header-cell *matHeaderCellDef  mat-sort-header> Avvik </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Avvik:</span>
          {{element.notice}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="containerId">
        <mat-header-cell *matHeaderCellDef  mat-sort-header> Strekkode beholder </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Strekkode beholder:</span>
          {{element.containerId}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row >
      <mat-row [appLoadingIndicator]="isLoadingResults" appHoverFocus
           *matRowDef="let row; columns: displayColumns;" (click)="storageObjectSelected(row)"></mat-row>
    </mat-table>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" >
    <mat-paginator fxFill fxLayoutAlign="center start" [pageSizeOptions]="[5, 10, 20, 40]" showFirstLastButtons></mat-paginator>
    <button mat-raised-button class="mat-primary" (click)="registerNewStorageObject()">
      Registrer nytt objekt
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </div>

</div>


